@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background: transparent;
}

/* 窗口拖动区域 */
.drag-region {
  -webkit-app-region: drag;
}

/* 拖动区域内的按钮不需要拖动 */
.drag-region button {
  -webkit-app-region: no-drag;
}

/* 隐藏滚动条 */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
